.button {
  font-family: Nunito;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;

  background: linear-gradient(87.4deg,
      #2e00b1 -11.74%,
      #8100bd 48.81%,
      #a400be 113.27%);
  border: none;
  border-radius: 10px;
  color: #fff;
  position: relative;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.2s linear;
    z-index: -1;
    background: linear-gradient(88deg,
        #A400BE -14.85%,
        #8100BD 50.2%,
        #2E00B1 115.25%);
  }

  &:disabled {
    background-color: #392350;
    opacity: 0.5;
    cursor: auto;

    &::before {
      background-color: #392350;
    }
  }

  &:hover:not(:disabled) {
    &::before {
      opacity: 1;
    }
  }

  &:focus:not(:disabled) {
    background:
      linear-gradient(88deg,
        #2E00B1 -14.85%,
        #A400BE 50.2%,
        #2E00B1 115.25%);

    &::before {
      opacity: 0;
    }
  }

  &:active:not(:disabled) {
    background: #2E00B1;

    &::before {
      opacity: 0;
    }
  }
}

.active {
  color: #c6b6d7;
  color: var(--text);
}