.rightWrapper {
  display: flex;
  flex-direction: column;
  min-width: 580px;

  @media (max-width: 768px) {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}

.wrapper {
  background-color: var(--header);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  padding: 15px 20px 20px;
  min-height: 200px;
}

.title {
  font-family: Nunito;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  margin-bottom: 15px;
}