.dinamicWrapper {
  grid-area: dynamic;
}

.dynamic {
  background: var(--header);
  border-radius: 10px;
  margin-top: 50px;
  min-height: 330px;
  padding: 20px;
  width: 580px;
  margin-bottom: 90px;

  @media (max-width: 1120px) {
    margin-bottom: 50px;
  }
}

.header {
  align-items: center;
  display: flex;
  margin-bottom: 20px;
}

.title {
  font-family: Nunito;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  margin-right: 20px;
}

.year {
  color: var(--text);
  font-family: Nunito;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

.select {
  background-color: #392350;
  border: none;
  color: #C6B6D7;
  margin-left: auto;
  outline: transparent;

  .css-13cymwt-control {
    background-color: #392350;
  }

  option {
    background-color: var(--header);

    &:hover {
      color: #C6B6D7;
    }
  }
}
